<footer id="footer">
  <!-- Start footer top area -->
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-ld-3  col-md-3 col-sm-3">
          <div class="single_footer_widget">
            <h3>About Us</h3>
            <p>text goes here</p>
          </div>
        </div>
        <div class="col-ld-3  col-md-3 col-sm-3">
          <div class="single_footer_widget">
            <h3>Community</h3>
            <ul class="footer_widget_nav">
              <li><a href="/faculty">Our Tutors</a></li>
              <li><a href="/student">Our Students</a></li>
              <li><a href="/department">Our Structure</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/news">News &amp; Media</a></li>
            </ul>
          </div>
        </div>
        <div class="col-ld-3  col-md-3 col-sm-3">
          <div class="single_footer_widget">
            <h3>Others</h3>
            <ul class="footer_widget_nav">
            </ul>
          </div>
        </div>
        <div class="col-ld-3  col-md-3 col-sm-3">
          <div class="single_footer_widget">
            <h3>Social Links</h3>
            <ul class="footer_social">
              <<li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="https://www.facebook.com/IITRoorkee.ICC"><i class="fa fa-facebook"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="https://twitter.com/iitr247667"><i class="fa fa-twitter"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Google+" class="soc_tooltip"  href="https://plus.google.com/109823344876441358182"><i class="fa fa-google-plus"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="https://www.linkedin.com/in/iit-roorkee-90aa71100/"><i class="fa fa-linkedin"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="https://www.youtube.com/channel/UCWzelmid9BHgokVfVGhWvLw"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer top area -->

  <!-- Start footer bottom area -->
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomLeft">
            <p> Copyright &copy 2017; All Rights Reserved</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomRight">
            <p>Designed by CSE 20015-19 batch IITR </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer bottom area -->
</footer>
